*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: flex;
    max-width: 1200px;
    /* grid-template-columns: 350px 1fr; */
    gap: 40px;
    padding-top: 30px;
    padding-left: 50px;
    margin: auto;
}

.sidebar{
    width: 350px;
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    flex-shrink: 0;
}

.main-content{
    /* height: 90vh; */
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    flex: 1;
    padding: 40px;
}


.profile img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;

}
.profile h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 10px;
}
.profile{
    text-align: center;
}

.Contact{
    margin: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500px;
    font-size: 0.8rem;
    color: #e0e0e0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email{
    margin-bottom: 15px;
}
.name{
    margin-bottom: 15px;
}
.Social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.Social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.Social img:hover{
    filter: grayscale(0) invert(0);
}
#navigation{
    /* padding: 30px 30px; */
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap:20px
    
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    
}
.active, nav a:hover{
    color: yellow;
}
